<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h4>Node MySQL建立的登入測試頁面</h4>
      <ul>
        <li><a href="/">首頁</a></li>
        <li><a href="/login">登入</a></li>
        <li><a href="/register">註冊</a></li>
      </ul>
    </nav>

    <div class="container mt-4">
      <div class="jumbotron">
        <h1 class="display-4">Login Project</h1>
        <p class="lead">這是一個由Node.js加上MySQL建立的簡易登入頁面</p>
        <hr class="my-4" />
        <p>It uses utility classes for typography and spacing to space content
          out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>